{% include "email/_header.html" %}
<p>We're happy to let you know that your order from Cinnamon Leather Company has been delivered!</p>
<div style="margin:16px 0; padding:12px; background:#f9f9f9; border-radius:6px;">
  <div>Order Number: {{ order_number }}</div>
  <p style="margin-top:12px;">Link to order: <a href="{{ link }}">{{ link }}</a></p>
  <div>Delivery Date: {{ delivery_date }}</div>
</div>
<p>Don't hesitate to reach out with any questions by replying to this email. Enjoy, and thank you for shopping small!</p>
{% include "email/_signoff.html" %}
